{% load django_bootstrap5 %}

{{ password_input }}
<small class="form-text text-muted">
    <ul class="list-unstyled">
        <li>
            <i id="pw-length" class="ri-close-circle-line text-warning"></i> 12 caractères minimum
        </li>
        <li>
            <i id="pw-digit" class="ri-close-circle-line text-warning"></i> 1 chiffre
        </li>
        <li>
            <i id="pw-lower" class="ri-close-circle-line text-warning"></i> 1 minuscule
        </li>
        <li>
            <i id="pw-upper" class="ri-close-circle-line text-warning"></i> 1 majuscule
        </li>
        <li>
            <i id="pw-special-char" class="ri-close-circle-line text-warning"></i> 1 caractère spécial (ex: &amp; é @ -)
        </li>
    </ul>
</small>
