{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <p>
        Êtes-vous sûr de vouloir invalider le mot de passe de <strong>{{ user_obj }}</strong> ?
    </p>
    <p>L'utilisateur ne pourra plus se connecter avec son mot de passe actuel.</p>
    <div class="delete-confirmation">
        <form method="post">
            {% csrf_token %}
            <div class="submit-row">
                <input type="submit" value="Confirmer l’invalidation">
                <a href="{% url 'admin:users_user_change' user_obj.pk %}" class="button cancel-link">Annuler</a>
            </div>
        </form>
    </div>
{% endblock %}
