{% extends "layout/left_content.html" %}
{% block content %}
    <div class="alert alert-danger">
        <p>
            La requête a été interrompue pour votre sécurité (mécanisme <abbr>CSRF</abbr>).
            Peut-être vous êtes-vous connecté depuis un autre onglet ?
        </p>
        <p class="mb-0">
            {% if request.user.is_authenticated %}
                Pour continuer à utiliser Inclusion Connect,
                <a href="{{ edit_user_info_url }}">retournez sur la page de gestion de votre compte</a>.
            {% else %}
                <a href="{% url "homepage" %}">Aller à la page d'accueil</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
