{% extends "layout/left_content.html" %}
{% load bootstrap4 %}
{% load inclusionconnect_fields %}

{% block content %}

    <h1 class="fr-h4">Renseignez votre mot de passe</h1>

    <div>
        Vous pouvez réutiliser celui de votre compte sur {{ application_name }} <strong>s'il répond aux critères de sécurité</strong>.
    </div>

    <hr>


    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="all" %}
                    <p>{{ last_name }} {{ first_name }} ({{ email }})</p>
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.email %}
                    {% password_field form.password1 %}
                    {% password_field form.password2 %}
                    {% bootstrap_field form.terms_accepted %}
                </div>
            </div>
        </fieldset>
        <div>{% bootstrap_button "S'inscrire" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
    </form>

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        Vous avez déjà un compte ?<a href="{% url 'login' %}" class="btn btn-link">Connectez-vous</a>
    </div>

{% endblock %}
