{% extends "layout/account.html" %}
{% load bootstrap4 %}
{% load inclusionconnect_fields %}

{% block section_title %}Changer mon mot de passe{% endblock %}

{% block content %}
    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% password_field form.old_password %}
                    {% password_field form.new_password1 %}
                    {% password_field form.new_password2 %}
                </div>
            </div>
        </fieldset>
        <div>
            {% bootstrap_button "Modifier mon mot de passe" button_type="submit" button_class="btn btn-block btn-primary" %}
        </div>
    </form>
{% endblock %}
