{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class="h2">Confirmez votre adresse e-mail</h1>

    <p>
        Un email de confirmation vient d’être envoyé à l’adresse
        <i>{{ request.session.email_to_confirm }}</i>. Cliquez sur le lien
        contenu dans cet email pour valider votre compte.
    </p>

    <p class="text-muted">
        Si après plusieurs minutes, vous n’avez toujours pas reçu cet email,
        vérifiez les dossiers de courriers indésirables (spam) puis réessayez
        en cliquant sur le bouton ci-dessous.
    </p>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <button class="btn btn-block btn-primary matomo-event" type="submit" data-matomo-category="email" data-matomo-action="clic" data-matomo-name="Renvoyer l’e-mail de vérification">
            Renvoyer l’e-mail de vérification
        </button>
    </form>

    <br>

    <div class="text-center">
        <a href="{{ FAQ_URL }}" class="btn btn-link matomo-event" data-matomo-category="aide" data-matomo-action="clic" data-matomo-name="J'ai besoin d'aide (email)">J'ai besoin d'aide</a>
    </div>
{% endblock %}
