{% extends "layout/left_content.html" %}
{% load bootstrap4 %}
{% load inclusionconnect_fields %}

{% block content %}

    <h1 class="fr-h4">Connexion</h1>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% bootstrap_field form.email %}
                    {% password_field form.password %}
                    <div class="form-group">
                        <a href="{% url 'password_reset' %}" class="btn-link fs-sm">Mot de passe oublié ?</a>
                    </div>

                </div>
            </div>
        </fieldset>
        <div>{% bootstrap_button "Connexion" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
    </form>

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        <h2 class="h5">Vous n’avez pas de compte Inclusion Connect ?</h2>
        <a href="{% url 'accounts:register' %}" class="btn btn-link">Créer mon compte</a>
    </div>

{% endblock %}
