{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}
{% load inclusionconnect_fields %}

{% block content %}
    <h1 class="h2">Connexion</h1>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% bootstrap_field form.email %}
                    <div class="c-info">
                        <span class="c-info__summary">Seul l'adresse e-mail est nécessaire pour voue connecter sur cet environnement.</span>
                        <div class="c-info__detail">
                            <p>Si vous choisissez un Prénom et un Nom, ces informations seront sauvegardées et utilisées pour les prochaines connexion avec cette adresse e-mail.</p>
                            <p>Si vous laissez les champs vide, les Prénoms et Noms ceux sauvegardés précédemment, ou des valeurs aléatoire si c'est la première connexion avec cette adresse-email.</p>
                        </div>
                    </div>
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}
                </div>
            </div>
        </fieldset>
        <div>
            <button class="btn btn-block btn-primary" type="submit">Connexion</button>
        </div>
    </form>

{% endblock %}
