{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}
{% load inclusionconnect_fields %}

{% block content %}

    {% if not PEAMA_ENABLED and not PEAMA_STAGING %}
        <div class="alert alert-info">
            Vous êtes un agent France Travail ? Très bientôt vous pourrez utiliser votre identifiant NEPTUNE France Travail
            pour vous connecter via Inclusion Connect aux outils dont vous avez besoin (Emplois de l’inclusion, Immersion facilitée, Dora …).
            Un seul mot de passe pour tous vos outils !
            <br>
            <a href="https://plateforme-inclusion.notion.site/33fb65f244ea48598cfe541294ffb828" target="blank">En savoir plus</a>
        </div>
    {% endif %}

    <h1 class="h2">Connexion</h1>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% bootstrap_field form.email %}
                    {% password_field form.password %}
                    <div class="form-group">
                        <a href="{% url 'password_reset' %}" class="btn-link fs-sm">Mot de passe oublié ?</a>
                    </div>

                </div>
            </div>
        </fieldset>
        <div>
            <button class="btn btn-block btn-primary matomo-event" type="submit" data-matomo-category="authentification" data-matomo-action="clic" data-matomo-name="Connexion">
                Connexion
            </button>
        </div>
    </form>

    {% if PEAMA_ENABLED %}
        <hr class="my-3 my-lg-4">
        {% include "includes/pe_connect.html" %}
    {% endif %}

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        <h2 class="h5">Vous n’avez pas de compte Inclusion Connect ?</h2>
        <a href="{% url 'accounts:register' %}" class="btn btn-link matomo-event" data-matomo-category="authentification" data-matomo-action="clic" data-matomo-name="Créer mon compte">Créer mon compte</a>
    </div>

{% endblock %}
