{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1 class="fr-h4">Réinitialisation du mot de passe</h1>

    {% if validlink %}
        <div>Veuillez choisir un nouveau mot de passe.</div>

        <form method="post" action="" class="js-prevent-multiple-submit">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        {% bootstrap_form_errors form type="all" %}
                        <div class="form-group form-group-required">
                            <label for="id_new_password1">Nouveau mot de passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="**********">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-link btn-ico" type="button" data-password="toggle">
                                        <i class="ri-eye-line"></i>
                                        <span>Afficher</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-required">
                            <label for="id_new_password2">Confirmation du nouveau mot de passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeholder="**********">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-link btn-ico" type="button" data-password="toggle">
                                        <i class="ri-eye-line"></i>
                                        <span>Afficher</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>{% bootstrap_button "Soumettre" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
        </form>
    {% else %}
        <div>
            Le lien de mise à jour du mot de passe n’est pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez renouveler votre demande de mise à jour de mot de passe.
        </div>
    {% endif %}



{% endblock %}
