{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}
{% load inclusionconnect_fields %}

{% block content %}


    {% if weak_password %}
        <h1 class="h2">Mise à jour de sécurité</h1>
        <p>
            Votre mot de passe ne respecte pas les dernières recommandations de la CNIL et de l'ANSI (<a href="https://cyber.gouv.fr/publications/recommandations-relatives-lauthentification-multifacteur-et-aux-mots-de-passe">voir ici</a>).
            <br>
            Pour continuer à utiliser Inclusion Connect en toute sécurité, veuillez mettre à jour votre mot de passe
        </p>
    {% else %}
        <h1 class="h2">Réinitialisation du mot de passe</h1>
    {% endif %}

    {% if validlink %}
        <form method="post" class="js-prevent-multiple-submit">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        {% bootstrap_form_errors form type="non_fields" %}
                        {% password_field_with_instructions form.new_password1 %}
                        {% password_field form.new_password2 %}
                    </div>
                </div>
            </fieldset>
            <div>
                <button class="btn btn-block btn-primary matomo-event" type="submit" data-matomo-category="reinitialisation-mdp" data-matomo-action="clic" data-matomo-name="Soumettre changement de mdp">
                    Soumettre
                </button>
            </div>
        </form>
    {% else %}
        <div>
            Le lien de mise à jour du mot de passe n’est pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez renouveler votre demande de mise à jour de mot de passe.
        </div>
    {% endif %}



{% endblock %}
