{% extends "layout/left_content.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1 class="fr-h4">Mot de passe oublié ?</h1>

    <p>
        Entrez l’adresse e-mail de votre compte Inclusion Connect ; vous recevrez un e-mail vous permettant de créer un nouveau mot de passe.
    </p>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">{% bootstrap_form form %}</div>
            </div>
        </fieldset>
        <div>{% bootstrap_button "Soumettre" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
    </form>

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        <a href="{% url 'login' %}" class="btn btn-link">Retour à la connexion</a>
    </div>

{% endblock %}
