{% extends "layout/left_content.html" %}
{% load bootstrap4 %}
{% load inclusionconnect_fields %}

{% block content %}

    <h1 class="h2">Réinitialisation du mot de passe</h1>

    {% if validlink %}
        <form method="post" class="js-prevent-multiple-submit">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        {% bootstrap_form_errors form type="non_fields" %}
                        {% password_field_with_instructions form.new_password1 %}
                        {% password_field form.new_password2 %}
                    </div>
                </div>
            </fieldset>
            <div>{% bootstrap_button "Soumettre" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
        </form>
    {% else %}
        <div>
            Le lien de mise à jour du mot de passe n’est pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez renouveler votre demande de mise à jour de mot de passe.
        </div>
    {% endif %}



{% endblock %}
