{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}
{% load inclusionconnect_fields %}

{% block content %}

    {% if not PEAMA_ENABLED and not PEAMA_STAGING %}
        <div class="alert alert-info">
            Vous êtes un agent France Travail ? Très bientôt vous pourrez utiliser votre identifiant NEPTUNE France Travail
            pour vous connecter via Inclusion Connect aux outils dont vous avez besoin (Emplois de l’inclusion, Immersion facilitée, Dora …).
            Un seul mot de passe pour tous vos outils !
            <br>
            <a href="https://plateforme-inclusion.notion.site/33fb65f244ea48598cfe541294ffb828" target="blank">En savoir plus</a>
        </div>
    {% endif %}

    <h1 class="h2">Créer un compte</h1>

    <p>
        Inclusion Connect vous permettra d’utiliser le même identifiant et mot de passe pour plusieurs services, en toute sécurité.
    </p>

    {% if PEAMA_ENABLED %}
        {% include "includes/pe_connect.html" %}
        <hr class="my-5" data-it-text="ou">
    {% endif %}

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.email %}
                    {% password_field_with_instructions form.password1 %}
                    {% password_field form.password2 %}
                    {% bootstrap_field form.terms_accepted %}
                </div>
            </div>
        </fieldset>
        <div>
            <button class="btn btn-block btn-primary matomo-event" type="submit" data-matomo-category="inscription" data-matomo-action="clic" data-matomo-name="S'inscrire">
                S'inscrire
            </button>
        </div>
    </form>

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        Vous avez déjà un compte ?<a href="{% url 'login' %}" class="btn btn-link matomo-event" data-matomo-category="inscription" data-matomo-action="clic" data-matomo-name="Connectez-vous">Connectez-vous</a>
    </div>

{% endblock %}
