{% extends "layout/left_content.html" %}
{% load django_bootstrap5 %}
{% load inclusionconnect_fields %}

{% block content %}

    <h1 class="h2">Créer un compte</h1>

    <p>
        Inclusion Connect vous permettra d’utiliser le même identifiant et mot de passe pour plusieurs services, en toute sécurité.
    </p>

    {% if PEAMA_ENABLED %}
        {% include "includes/pe_connect.html" %}
        <hr class="my-5" data-it-text="ou">
    {% endif %}

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-12">
                    {% bootstrap_form_errors form type="non_fields" %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.email %}
                    {% password_field_with_instructions form.password1 %}
                    {% password_field form.password2 %}
                    {% bootstrap_field form.terms_accepted %}
                </div>
            </div>
        </fieldset>
        <div>{% bootstrap_button "S'inscrire" button_type="submit" button_class="btn btn-block btn-primary" %}</div>
    </form>

    <hr class="my-3 my-lg-4">
    <div class="text-center">
        Vous avez déjà un compte ?<a href="{% url 'login' %}" class="btn btn-link">Connectez-vous</a>
    </div>

{% endblock %}
