{% extends "layout/base_email_body.html" %}
{% block body %}
    <p>
        Une demande de réinitialisation de mot de passe a été effectuée pour
        votre compte. Si vous êtes à l’origine de cette requête&nbsp;:
        <br>
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Réinitialiser votre mot de passe</a>.
    </p>

    <p>Ce lien expire dans 1 jour.</p>

    <p>
        <i>Si vous n’êtes pas à l’origine de cette demande, veuillez ignorer ce message.</i>
    </p>
{% endblock body %}
