{% load static %}

{% load theme_inclusion %}
<header class="s-header s-header--emploi sticky-top" role="banner" id="header">
    <section class="s-header__container container">
        <div class="s-header__row row">
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
                <img src="{% static_theme_images 'logo-ministere-emploi.svg' %}" alt="Ministère du travail, du plein emploi et de l'insertion" />
            </div>
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
                <img src="{% static_theme_images 'logo-inclusion-connect.svg' %}" alt="Inclusion Connect" />
            </div>
        </div>
    </section>
</header>
