{% load static %}

{% load theme_inclusion %}

<header role="banner" id="header">
    <section class="s-header">
        <div class="s-header__container container">
            <div class="s-header__row row">
                <div class="s-header__col s-header__col--logo-ministere col col-md-auto d-flex align-items-center pe-0">
                    <img src="{% static_theme_images 'logo-republique-francaise.svg' %}" alt="République Française" />
                </div>
                <div class="s-header__col s-header__col--logo-service col-auto d-flex align-items-center">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static_theme_images 'logo-inclusion-connect.svg' %}" alt="Inclusion Connect" height="90" />
                    </a>
                </div>
                <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
                </div>
            </div>
        </div>
    </section>
</header>
