{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block left_content %}
    <div class="col-12 col-lg-6 bg-lg-white">
        <div class="bg-white p-3 py-lg-7 px-lg-8">
            <h1>Mon compte</h1>
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link{% if edit_user_info.active %}  active{% endif %}" href="{{ edit_user_info.url }}">Informations générales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if edit_password.active %}  active{% endif %}" href="{{ edit_password.url }}">Mot de passe</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div class="col-12 col-lg-6 bg-lg-white">
        <div class="bg-white p-3 py-lg-7 px-lg-8">
            <h1>
                {% block section_title %}{% endblock %}
            </h1>
            {% block messages %}
                {% bootstrap_messages %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% if referrer_uri %}
                <br>
                <div class="text-center">
                    <a href="{{ referrer_uri }}" class="btn btn-block btn-outline-primary">Retour</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
