{% load theme_inclusion %}
{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Inclusion Connect</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static "img/illustration-bg-ic.svg" %}" type="image/svg+xml">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/ico">
        <link rel="stylesheet" href="{% static "vendor/theme-inclusion/stylesheets/app.css" %}">
        <link rel="stylesheet" href="{% static "css/inclusion_connect.css" %}">

        {% if not debug %}
            <script src="https://js.sentry-cdn.com/d9163858ff954fc9a789fcb17662e1d2.min.js" crossorigin="anonymous"></script>
        {% endif %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "layout/_header.html" %}

        <main id="main" role="main" class="s-main">

            <section class="s-section pt-lg-3">
                <div class="container">
                    <div class="row g-0 bg-white">
                        {% block full_content %}
                            {% block left_content %}{% endblock %}
                            {% block right_content %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </section>

        </main>

        {% include "layout/_footer.html" %}


        {% if MATOMO_BASE_URL %}
            <script src="{% static "vendor/tarteaucitron.js-1.16.1/tarteaucitron.min.js" %}"></script>
            <script nonce="{{ CSP_NONCE }}">
                // Tarteaucitron's language is set according to the browser configuration
                // but a lot of users don't know how to change it.
                // This can be forced only by using a global `var` statement.
                // https://github.com/AmauriC/tarteaucitron.js/blob/92352be63744a0a949e55b83d0f89324ce82b45f/tarteaucitron.js#L10C5-L10C31
                var tarteaucitronForceLanguage = "fr";

                tarteaucitron.init({
                    "privacyUrl": "{% static PRIVACY_POLICY_PATH %}",
                    "orientation": "bottom",
                    "handleBrowserDNTRequest": true,
                    "removeCredit": true,
                    "useExternalCss": true,
                    "readmoreLink": "{% static PRIVACY_POLICY_PATH %}",
                    "mandatory": false,
                });
                tarteaucitron.user.matomoHost = "{{ MATOMO_BASE_URL }}";
                tarteaucitron.user.matomoId = {{ MATOMO_SITE_ID }};
                (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
            </script>
        {% endif %}

        {# Add Je donne mon avis or NPS #}

        <script src="{% static "vendor/bootstrap-5.3.1/popper.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap-5.3.1/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/theme-inclusion/javascripts/app.js" %}"></script>

        {% block script %}
            <script src="{% static "js/index.js" %}"></script>
        {% endblock %}
    </body>
</html>
