{% load theme_inclusion %}
{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Inclusion Connect</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static "img/illustration-bg-ic.svg" %}" type="image/svg+xml">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/ico">
        <link rel="stylesheet" href="{% static "vendor/theme-inclusion/stylesheets/app.css" %}">
        <link rel="stylesheet" href="{% static "css/inclusion_connect.css" %}">

        {% if not debug %}
            <script src="https://js.sentry-cdn.com/d9163858ff954fc9a789fcb17662e1d2.min.js" crossorigin="anonymous"></script>
        {% endif %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "layout/_header.html" %}

        <main id="main" role="main" class="s-main">

            <section class="s-section pt-lg-3">
                <div class="container">
                    <div class="row g-0 bg-white">
                        {% block full_content %}
                            {% block left_content %}{% endblock %}
                            {% block right_content %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </section>

        </main>

        {% include "layout/_footer.html" %}


        {% if MATOMO_BASE_URL %}
            <!-- Matomo -->
            <script id="matomo-custom-init" nonce="{{ CSP_NONCE }}">
              var _paq = window._paq = window._paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="{{MATOMO_BASE_URL}}";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', {{ MATOMO_SITE_ID }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <!-- End Matomo Code -->
        {% endif %}

        {# Add tarteaucitron #}
        {# Add Je donne mon avis or NPS #}

        <script src="{% static "vendor/bootstrap-5.3.1/popper.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap-5.3.1/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/theme-inclusion/javascripts/app.js" %}"></script>

        {% block script %}
            <script src="{% static "js/index.js" %}"></script>
        {% endblock %}
    </body>
</html>
