{% load theme_inclusion %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Inclusion Connect</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static "img/illustration-bg-ic.svg" %}" type="image/svg+xml">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/ico">
        <link rel="stylesheet" href="{% static "vendor/theme-inclusion/stylesheets/app.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/inclusion_connect.css" %}" type="text/css">

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "layout/_header.html" %}

        <main id="main" role="main" class="s-main">

            <section class="s-section pt-lg-3">
                <div class="container">
                    <div class="row g-0 bg-white">
                        {% block left_content %}{% endblock %}
                        {% block right_content %}{% endblock %}
                    </div>
                </div>
            </section>

        </main>

        {% include "layout/_footer.html" %}

        {# Add matomo #}
        {# Add tarteaucitron #}
        {# Add Je donne mon avis or NPS #}

        <script src="{% static "vendor/bootstrap-5.3.1/popper.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap-5.3.1/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/theme-inclusion/javascripts/app.js" %}"></script>
        <script src="https://tally.so/widgets/embed.js"></script>

        {% block script %}
            <script src="{% static "js/index.js" %}"></script>
        {% endblock %}
    </body>
</html>
