{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block left_content %}
    <div class="col-12 col-lg-6 bg-lg-white">
        <div class="bg-white p-3 py-lg-7 px-lg-8">
            <div class="container container-messages">
                {% block messages %}
                    {% bootstrap_messages %}
                {% endblock %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div class="d-none d-lg-flex col-lg-6 p-lg-6 justify-content-center align-items-center bg-light">
        <img class="img-fluid" src="{% static 'img/illustration-ic.svg' %}" alt="" loading="lazy">
    </div>
{% endblock %}
