body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #FFFFFF;
  background-image: url('../img/illustration-bg-ic.svg');
  background-repeat: no-repeat;
  background-position: top -120px left;
}

.form-group > label,
.input-group > label {
  font-weight: 500;
}

.pe-connect {
  display: flex;
  justify-content: center;
  align-items: center;
}

