body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #fff;
  background-image: url('../img/illustration-bg-ic.svg');
  background-repeat: no-repeat;
  background-position: top -120px left;
}

.form-group > label,
.input-group > label {
  font-weight: 500;
}

.sidemenu_item {
  position: relative;
  padding: 0.75rem 0.5rem;
  font-weight: 700;
  border-left: 2px solid transparent;
}

.sidemenu_item.sidemenu_item_active {
    border-left: 2px solid #000091;
}

.sidemenu_item > a {
    text-decoration: none;
}

.sidemenu_item_active > a {
    color: #000091;
}
